
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Slate Scraper</h1>
          <span class="subheading">Scrape, save, and comment on articles from Slate.com</span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        {{#each articles}}
          <a href={{this.link}}>
         
            <h2 class="post-title">
              {{this.title}}
            </h2>

        {{/each}}
        </a>
      </div>
      <hr>
      
    </div>
  </div>
</div>