
<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="header-h1">Slate Scraper</h1>
          <h2 class="header-h2">View and comment on your saved articles here.</h2>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            This is where the post title will go
          </h2>
          <h3 class="post-subtitle">
            this is where the post link will go
          </h3>
        </a>
      </div>
      <hr>
      
    </div>
  </div>
</div>
